In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('homework') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 23:46:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/03 23:46:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark.version

'3.3.2'

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-03 23:50:13--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230303T165021Z&X-Amz-Expires=300&X-Amz-Signature=c89ffd3c8b187bc4c0c8ae2ffec97a378622bd9df4a8c7a526c04d290314872d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-03 23:50:21--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230303T165021Z&X-Amz-Expires=300&X-Amz-Signature=c89ffd3c8b187bc4c0c8ae2ffec97a378622bd9df4a8c7a526c04d290314872d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  1.13MB/s    in 2m 41s

2023-03-03 23:53:02 (1.04 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [9]:
!mv fhvhv_tripdata_2021-06.csv.gz ../../data/

In [10]:
import pandas as pd

pddf = pd.read_csv("../../data/fhvhv_tripdata_2021-06.csv.gz")

In [12]:
pddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14961892 entries, 0 to 14961891
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropoff_datetime        object
 3   PULocationID            int64
 4   DOLocationID            int64
 5   SR_Flag                 object
 6   Affiliated_base_number  object
dtypes: int64(2), object(5)
memory usage: 799.1+ MB

In [13]:
from pyspark.sql import types

In [14]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [16]:
spdf = spark \
        .read \
        .option("header", "true") \
        .schema(schema) \
        .csv("../../data/fhvhv_tripdata_2021-06.csv.gz")

In [17]:
spdf.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [20]:
spdf.repartition(12) \
    .write \
    .parquet("../../data/transformed/fhvhv_trip_data_2021-06")

23/03/04 00:04:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

23/03/04 00:04:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [22]:
%%bash

ls -alh ../../data/transformed/fhvhv_trip_data_2021-06

total 595976
drwxr-xr-x  28 premsurawut  staff   896B Mar  4 00:04 .
drwxr-xr-x   3 premsurawut  staff    96B Mar  4 00:04 ..
-rw-r--r--   1 premsurawut  staff     8B Mar  4 00:04 ._SUCCESS.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00000-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00001-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00002-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00003-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00004-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00005-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00006-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00007-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00008-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00009-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00010-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff   189K Mar  4 00:04 .part-00011-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet.crc
-rw-r--r--   1 premsurawut  staff     0B Mar  4 00:04 _SUCCESS
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00000-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00001-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00002-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00003-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00004-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00005-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00006-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00007-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00008-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00009-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00010-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet
-rw-r--r--   1 premsurawut  staff    24M Mar  4 00:04 part-00011-c127dc0e-e9a4-42e5-b69d-c594aa328ec3-c000.snappy.parquet

In [36]:
df = spark \
    .read \
    .parquet("../../data/transformed/*/")

In [37]:
df.registerTempTable('trips_data')

/opt/homebrew/Cellar/apache-spark/3.3.2/libexec/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [39]:
spark.sql("""
SELECT
    count(*)
FROM
    trips_data
WHERE pickup_datetime BETWEEN '2021-06-15 00:00:00' AND '2021-06-15 23:59:59'
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

[Stage 10:===================================================>    (11 + 1) / 12]

In [66]:
spark.sql("""
SELECT TIMESTAMPDIFF(HOUR, dropoff_datetime, pickup_datetime) AS duraation,
       to_date(dropoff_datetime) as date
  FROM trips_data
 ORDER BY 1,2 ASC;
""").show()

+---------+----------+
|duraation|      date|
+---------+----------+
|      -66|2021-06-28|
|      -25|2021-06-23|
|      -19|2021-06-28|
|      -18|2021-06-27|
|      -16|2021-06-24|
|      -14|2021-06-24|
|      -13|2021-06-25|
|      -11|2021-06-05|
|      -11|2021-06-27|
|      -10|2021-06-01|
|      -10|2021-06-21|
|       -9|2021-06-01|
|       -9|2021-06-03|
|       -9|2021-06-04|
|       -9|2021-06-05|
|       -9|2021-06-09|
|       -9|2021-06-09|
|       -9|2021-06-12|
|       -9|2021-06-15|
|       -9|2021-06-18|
+---------+----------+
only showing top 20 rows

In [67]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-04 00:53:55--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.171.40, 52.216.77.206, 52.217.78.6, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.171.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-03-04 00:53:57 (25.3 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [68]:
!mv taxi+_zone_lookup.csv ../../data/

In [69]:
df_zone = spark.read \
    .option("header", "true") \
    .csv('../../data/taxi+_zone_lookup.csv')

In [70]:
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [72]:
df_result = df.join(df_zone, df.PULocationID == df_zone.LocationID)

In [73]:
df_result.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|              B02875|2021-06-16 17:30:56|2021-06-16 18:08:31|         141|          68|      N|                B02875|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|              B02871|2021-06-25 03:46:52|2021-06-25 04:09:45|          68|          68|      N|                B02871|        68|Manhattan|        East Chelsea| Yellow Zone|
|              B02510|2021-06-01 08:50:09|2021-06-01 09:17:40|         216|         134|      N|                  null|       216|   Queens|    South Ozone Park|   Boro Zone|
|              B02884|2021-06-15 19:05:01|2021-06-15 19:29:42|         163|         114|      N|                B02884|       163|Manhattan|       Midtown North| Yellow Zone|
|              B02765|2021-06-17 11:53:53|2021-06-17 12:11:28|          77|         155|      N|                B02765|        77| Brooklyn|East New York/Pen...|   Boro Zone|
|              B02884|2021-06-18 17:59:09|2021-06-18 18:01:50|          76|          76|      N|                B02884|        76| Brooklyn|       East New York|   Boro Zone|
|              B02875|2021-06-01 20:07:39|2021-06-01 20:21:25|         146|         164|      N|                B02875|       146|   Queens|Long Island City/...|   Boro Zone|
|              B02764|2021-06-15 06:40:30|2021-06-15 06:46:05|         186|         107|      N|                B02764|       186|Manhattan|Penn Station/Madi...| Yellow Zone|
|              B02887|2021-06-26 01:17:09|2021-06-26 01:25:32|         243|         127|      N|                B02887|       243|Manhattan|Washington Height...|   Boro Zone|
|              B02510|2021-06-22 16:01:03|2021-06-22 16:24:01|         181|          65|      N|                  null|       181| Brooklyn|          Park Slope|   Boro Zone|
|              B02764|2021-06-06 14:40:16|2021-06-06 15:04:58|          69|         265|      N|                B02764|        69|    Bronx|East Concourse/Co...|   Boro Zone|
|              B02510|2021-06-16 17:43:11|2021-06-16 18:01:24|         129|         196|      N|                  null|       129|   Queens|     Jackson Heights|   Boro Zone|
|              B02510|2021-06-19 20:15:33|2021-06-19 20:29:51|         248|         167|      N|                  null|       248|    Bronx|West Farms/Bronx ...|   Boro Zone|
|              B02866|2021-06-11 17:35:49|2021-06-11 17:45:03|         234|         186|      N|                B02866|       234|Manhattan|            Union Sq| Yellow Zone|
|              B02875|2021-06-13 17:52:34|2021-06-13 18:20:18|          20|         116|      N|                B02875|        20|    Bronx|             Belmont|   Boro Zone|
|              B02872|2021-06-14 14:01:47|2021-06-14 14:31:37|         132|          35|      N|                B02872|       132|   Queens|         JFK Airport|    Airports|
|              B02887|2021-06-20 01:21:33|2021-06-20 01:49:36|         107|         200|      N|                B02887|       107|Manhattan|            Gramercy| Yellow Zone|
|              B02870|2021-06-18 18:46:42|2021-06-18 19:24:14|         161|         256|      N|                B02870|       161|Manhattan|      Midtown Center| Yellow Zone|
|              B02510|2021-06-30 07:20:55|2021-06-30 07:37:12|         225|          49|      N|                  null|       225| Brooklyn|  Stuyvesant Heights|   Boro Zone|
|              B02836|2021-06-17 19:58:50|2021-06-17 20:15:30|         234|         262|      N|                B02836|       234|Manhattan|            Union Sq| Yellow Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [74]:
df_result.registerTempTable('trips_data_zones')

In [120]:
spark.sql("""
SELECT PULocationID,
       COUNT(*) AS Zone_count
  FROM trips_data_zones
 GROUP BY PULocationID
 ORDER BY 2 DESC
"""
).show()

+------------+----------+
|PULocationID|Zone_count|
+------------+----------+
|          61|    231279|
|          79|    221244|
|         132|    188867|
|          37|    187929|
|          76|    186780|
|         231|    164344|
|         138|    161596|
|         234|    158937|
|         249|    154698|
|           7|    152493|
|         148|    151020|
|          68|    147673|
|          42|    146402|
|         255|    143683|
|         181|    143594|
|         225|    141427|
|          48|    139611|
|         246|    139431|
|          17|    138428|
|         170|    137879|
+------------+----------+
only showing top 20 rows

In [122]:
spark.sql("""
SELECT DISTINCT(Zone)
  FROM trips_data_zones
 WHERE PULocationID = 61;
""").show()

+-------------------+
|               Zone|
+-------------------+
|Crown Heights North|
+-------------------+